.bookmark{
    border-radius: 5px;
    margin: 15px;
    background-color: white;;
    padding: 10px;
}
.bookmark-text{
    font-weight: 700;
}
@media (max-width: 768px) {
    .bookmark-text{
        font-size: 15px;
    }
}