.nav-title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000;
}
.header-container{
    top: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
nav.header a{
    text-decoration: none;
    color: black;
    margin-left: 30px;
}
nav.header a:hover{
    color: goldenrod;
}

hr {
    width: 75%;
    margin: 20px auto;
    border: 1px solid rgba(17, 17, 17, 0.15);
}

@media (max-width: 768px) {
    .nav-title-text{
        font-size: 20px;
    }
    nav.header a{
        font-size: 12px;
        margin-left: 10px;
    }
    .header-img{
        width: 40px;
    }
    .header-container{
        padding-left: 0px;
        padding-right: 5px;
    }
}