.spent-time-container{
    border: 2px solid #6047EC;
    background: rgba(96, 71, 236, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.spent-time{
    margin-top: 8px;
    font-weight: 700;
    color: #6047EC;
}
.bookmarked{
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
}
.bookmarked-text{
    text-align: center;
    font-weight: 700;
    
}
@media (max-width: 576px) {
    .spent-time{
        font-size: 15px;
    }
    .bookmarked-text{
        font-size: 15px;
    }
}